#b1, #b2 {
   position: absolute;
   width: 30px;
   height: 60px;
   background: url("car1.png");
   background-size: contain; 
    }
     
    #hus1,#hus2,#hus3,#hus4 {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid green 2px;
    background: blue;
    }
     
    #b1 { right:260px; bottom: 20px; }
    #b2 { left:260px; top: 20px; }
    #hus1 { left:10px; top: 20px; }
    #hus2 { left:10px; bottom: 20px; }
    #hus3 {right:10px; top: 20px; }
    #hus4 {right:10px; bottom: 20px; }

    #b1 {
        animation: kjor 2s linear forwards, sving 0.5s 0.4s linear forwards;
    }

    #b2 {
        animation: kjor2 2s linear forwards;
    }

    @keyframes kjor {
        0% { right: 260px; bottom: 20px; background: url("car1.png");}
        30% { right: 260px; bottom: 50px; background: url("car1.png");}
        99% {right: 70%; bottom: 50%; background: url("car1.png");}
        100% {right: 70%; bottom: 50%; background: url("crash.gif");}
    }

    @keyframes sving {
        0% { transform: rotate(0deg);}
        100% { transform: rotate(-90deg);}
    }

    @keyframes kjor2 {
        0% { left: 260px; top: 20px; opacity: 1;}
        99% {left: 260%; top: 40%; opacity: 1;}
        100% {left: 260%; top: 40%; opacity: 1;}
    }

    #explo {
        background: red;
        width: 200p;
        height: 200px;
        position: absolute;
        left: 
        top:
        background: url("crash.gif")
        
    }